# Dependencies & Builds
node_modules/
dist/
target/
data/

# IDEs & Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# Logs & Environment
*.log
logs/
.env
.env.local
